<div class="topnav">
    <div class="topnav-left">
      <a routerLink="/Index">Home</a>
    </div>
    <div class="topnav-centered">
        <h1 routerLink="/Index" class="active"> Home</h1>
    </div>
    <div class="topnav-right">
      <a routerLink="/Dashboard">Dashboard</a>
      <a routerLink='/Login'>Logout</a>
    </div>
</div>

<div>
    <!-- {{ProdID }} {{Amount}} {{Tenure}}  -->
    <!-- ProdName: {{ProdName}} -->
</div>
<div class="container">
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
            <script src='https://js.stripe.com/v2/' type='text/javascript'></script>

            <div style="margin:0;padding:0;display:inline">
                <input name="utf8" type="hidden" value="✓" />
                <input name="_method" type="hidden" value="PUT" />
                <input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" />
            </div>
            <div class='form-row'>
                <div class='col-xs-6 form-group required'>
                    <label class='control-label'>First Name</label>
                    <input class='form-control' size='4' type='text' [value]="FirstName" id="FN" disabled>
                </div>
                <div class='col-xs-6 form-group required'>
                    <label class='control-label'>Last Name</label>
                    <input class='form-control' size='4' type='text' required id="LN" [value]="LastName" disabled>
                </div>
                <div class='col-xs-12 form-group required'>
                    <label class='control-label'>Email ID</label>
                    <input class='form-control' size='4' type='text' required id="EmailId"
                        [value]="EmailId" disabled>
                </div>
                <!-- <div class='col-xs-12 form-group required'>
                    <label class='control-label'>Mobile No.</label>
                    <input class='form-control' size='4' type='text' required id="MobileNo"
                        [value]="MobileNo" disabled>
                </div> -->
            </div>
            <div class='form-row'>
                <div class='col-xs-12 form-group NextInstallment required'>
                    <label class='control-label'>Bank</label>
                    <input autocomplete='off' class='form-control card-number' size='20' type='text' disabled
                    id="Bank" [value]="Bank" disabled>
                </div>
            </div>
            <div class='form-row'>
                <div class='col-xs-12 form-group InstallmentAmt required'>
                    <label class='control-label'>Product Name</label>
                    <input autocomplete='off' class='form-control' size='4' type='text' required
                        id="ProductN" [value]="ProdName" disabled>
                </div>
                <!-- <div class='col-xs-12 form-group Date required'>
                    <label class='control-label'>Product Details</label>
                    <input autocomplete='off' class='form-control' size='4' type='text' required name={{ProductDetails}}
                        id="ProducD" value="Wireless" disabled>
                </div> -->
                <!-- <div class='col-xs-12 form-group Date required'>
                    <label class='control-label'>Card Type</label>
                    <input autocomplete='off' class='form-control' size='4' type='text' required
                        id="CardT" [value]="CardType" disabled>
                </div> -->
                <div class='col-xs-12 form-group Date required'>
                    <label class='control-label'>Amount to be paid</label>
                    <input autocomplete='off' class='form-control' size='4' type='text' required
                        id="InstallmentAmt" [value]="Amount" disabled>
                </div>
                <!-- <div class='col-xs-12 form-group Date required'>
                    <label class='control-label'>Next Installment </label>
                    <input autocomplete='off' class='form-control' size='4' type='text' required
                        name={{NextInstallment}} id="NextInstallment" value="6 " disabled>
                </div> -->
                <div class='form-row'>
                    <div class='col-md-6 form-group'>
                        <input type="checkbox" required> Confirm Details before submission
                    </div>
                    <div class='col-md-6 form-group'>
                        <span *ngIf="ActivationStatus!=2; then noPayment ;else yesPayment;"></span>
                            <ng-template #yesPayment>
                                <button *ngIf="postPut=='post'" (click)="Payment()" class='form-control btn btn-primary submit-button' type='submit'>Pay
                            »</button>
                            <div *ngFor="let transaction of allTransactions">
                                <div *ngIf="transaction.UserId==thisUser && transaction.ProductId==ProdID" ></div>
                                    <button *ngIf="postPut=='put'" (click)="PaymentUpdate(transaction.Id)" class='form-control btn btn-primary submit-button' type='submit'>Pay
                                »</button>
                            </div>
                            </ng-template>
                            <ng-template #noPayment>
                                <button (click)="giveAlert()" class='form-control btn btn-primary submit-button' type='submit'>Pay
                                    »</button>
                            </ng-template>
                    </div>
                </div>

            </div>
            <!-- <div class='col-md-4'></div> -->
            <div class="alert alert-success" role="alert">
                {{AckMessage}}
            </div>
        </div>

    </div>

</div>