<div class="container">
    <div>
        <label>{{AckMessage}}</label>
    </div>
    <div class="row">
        <div class="col-md-10 offset=md-5">
            <div class="row">
                <div class="col-md-5 register-left">

                    <h1>Welcome
                    </h1>
                    <p> You are 30 seconds away from <br> creating your own <br> EMI Card</p>
                </div>
                <div class="col-md-7 register-right">
                    <h2> Register here</h2>
                    <div class="registration-form">

                        <div class="form-group">
                            
                            <input required type="text" class="form-control" placeholder="First Name" [(ngModel)]="FirstName">
                            <input required type="text" class="form-control" placeholder="Last Name" [(ngModel)]="LastName">
                        </div>
                        <div class="form-group">
                            <input required minlength="10" type="text" class="form-control" placeholder="Mobile Number" [(ngModel)]="MobileNo">
                        </div>
                        <div class="form-group">
                            <input required type="email" class="form-control" placeholder="E-mail" [(ngModel)]="Email">
                        </div>
                        <div class="form-group">
                            <input required type="password" class="form-control" placeholder="Password" [(ngModel)]="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <input required type="text" class="form-control" placeholder="Address" [(ngModel)]="Address">
                        </div>
                        <div class="form-group">
                            <select required id="cars" name="cars" class="form-control" placeholder="Card Type"
                                [(ngModel)]="CardType">
                                <option value="" disabled selected>Card Type</option>
                                <option value="Gold">Gold</option>
                                <option value="Platinum">Titanium</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select required id="cars" name="cars" class="form-control" placeholder="Card Type"
                            [(ngModel)]="Bank">
                                <option value="" disabled selected>Select your Bank</option>
                                <option value="HDFC">HDFC</option>
                                <option value="SBI">SBI</option>
                                <option value="ICIC">ICIC</option>
                                <option value="AXIS">AXIS</option>


                            </select>

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Account Number"
                                [(ngModel)]="AccountNo">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="IFSC Code " [(ngModel)]="IFSC">
                        </div>
                        <div>
                            <button (click)="RegisterCustomer()" class="btn btn-primary"> Register</button>
                        </div>
                    </div>
                    <div>
                        <a [routerLink]="['Login']">Already have an account? Sign in</a>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>



<!-- <input type="text" id="name" name="name" class="form-control"
      required minlength="4" appForbiddenName="bob"
      [(ngModel)]="hero.name" #name="ngModel">

<div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert">

  <div *ngIf="name.errors?.required">
    Name is required.
  </div>
  <div *ngIf="name.errors?.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors?.forbiddenName">
    Name cannot be Bob.
  </div>

</div> -->