<!-- <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav -->
<!-- Image and text -->
<!--nav class="navbar navbar-light bg-dark">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="color: white;">Product List</button>
        <span class="navbar-text">
          <h4 style="color:white">Hi Vignesh</h4>
        </span>
    </nav>
  </div> -->
<div>
  <h3 style="text-align: center">DASHBOARD</h3>
  <!-- <div class="card"> -->
  <div class="card bg-light ml-25" style="width: 26%;">
    <div class="card-body">
      <div>
        <p class="card-text"> CARD NUMBER : {{user.phone_no}} </p>
        <p class="card-text"> NAME : {{user.firstName}}</p>
        <p class="card-text"> Kitna paisa hai : </p>
        <p class="card-text"> CARD TYPE : </p>
      </div>
    </div>
    <div class="card-footer bg-success border-success text-center">{{status}}</div>
  </div>
  <!-- </div> -->
  <!--div class="card bg-light ml-3 center" style="max-width: 18rem; align-self: center;"-->
  <div class="card bg-light mb-3 ml-5" style="width: 25%;">
    <div class="card-body">
      <p class="card-text">Total Credits : 45000</p>
      <p class="card-text">Credits Used : 15000</p>
      <p class="card-text">Remaining Credits : 20000</p>
    </div>
  </div>
  <!--/div-->
  <div class="card1">
    <div class="card-header text-center">
      <h5>PRODUCTS PURCHASED</h5>
    </div>
    <div class="card bg-light ml-5 mt-3 mr-5 mb-3">
      <div class="card-body">
        <p class="card-text">Product Name : Mobile</p>
        <p class="card-text">Amount : 12000</p>
        <p class="card-text">Paid : 8000</p>
        <p class="card-text">Balance : 4000</p>
      </div>
    </div>
  </div>
  <h4 class="ml-3 mt-4">Recent Transactions:</h4>
  <table class="table text-center table-hover table-bordered">
    <tr>
      <th>PRODUCT</th>
      <th>DATE</th>
      <th>AMOUNT PAID</th>
    </tr>
    <tr>
      <td>Mobile</td>
      <td>23/09/2021</td>
      <td>1200</td>
    </tr>
  </table>
  <button type="button" class="btn btn-light btn-lg btn-block mb-3">More Transactions</button>