<div>
  <div class="card">
    <div class="card text-white bg-light ml-25" style="width: 26%;">
      <div class="card-body">
        <div *ngFor="let i of cards">
          <div *ngIf="i.UserId==idcard">
            <p class="card-text"> CARD NUMBER : {{i.CardId}}</p>
            <p class="card-text"> NAME : {{user2.FirstName}}</p>
            <p class="card-text"> VALID TILL : </p>
            <p class="card-text"> CARD TYPE : {{i.Ctype}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="status==1;then thenBlk;else elseBlk"></div>
      <ng-template #thenBlk>
        <div class="card-footer bg-success border-success text-center">ACTIVATED </div>
      </ng-template>
      <ng-template #elseBlk>
        <div class="card-footer bg-danger border-danger text-center">NOT YET ACTIVATED
          <!-- <span class="tooltiptext">Pay joining fee to activate</span> -->
        </div>
      </ng-template>
    </div>
    <button (click)="feePaid(idcard)" class="btn btn-primary" style="width: 20%; align-self: center;">Pay Joining fee</button>
  </div>
  <div class="card bg-light ml-5" style="width: 25%;color: white;">
    <div class="card-body">
      <div *ngFor="let i of cards">
        <span *ngIf="i.UserId==idcard">
          <span *ngIf="i.Ctype=='Gold'; then gold ;else titanium;"></span>
          <ng-template #gold>
            <p class="card-text" style="font-size: 22px;">Total Credits : 45000</p>
            <p class="card-text" style="font-size: 22px;">Credits Used : {{45000-i.CreditLeft}}</p>
            <p class="card-text" style="font-size: 22px;">Remaining Credits : {{i.CreditLeft}}</p>
          </ng-template>
          <ng-template #titanium>
            <p class="card-text" style="font-size: 22px;">Total Credits : 60000</p>
            <p class="card-text" style="font-size: 22px;">Credits Used : {{60000-i.CreditLeft}}</p>
            <p class="card-text" style="font-size: 22px;">Remaining Credits : {{i.CreditLeft}}</p>
          </ng-template>
        </span>
      </div>
    </div>
  </div>

  <div class="card1">
    <div class="card-header text-center">
      <h5>PRODUCTS PURCHASED</h5>
    </div>
    <div class="card bg-dark ml-5 mt-3 mr-5 mb-3" style="color: white;">
      <div *ngFor="let i of trans">
        <div *ngFor="let j of products">
          <div *ngIf="i.UserId==idcard && i.ProductId==j.Id">
            <div class="card-body">
              <p class="card-text" style="font-size: 22px;">Product Name : {{j.Pname}}</p>
              <p class="card-text" style="font-size: 22px;">Amount : {{j.Cost}}</p>
              <p class="card-text" style="font-size: 22px;">Paid : {{i.AmountPaid}}</p>
              <p class="card-text" style="font-size: 22px;">Balance : {{j.Cost-i.AmountPaid}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-dark btn-lg btn-block mb-3" (click)="onClick()">Transactions</button>
<div *ngIf="showTable>1">
  <table class="table text-center table-bordered">
    <thead class="thead-dark">
      <tr>
        <th width="33.33%">PRODUCT</th>
        <th width="33.33%">DATE</th>
        <th width="33.33%">AMOUNT PAID</th>
      </tr>
    </thead>
  </table>
  <div *ngFor="let i of trans">
    <div *ngFor="let j of products">
      <div class="table" *ngIf="i.UserId==idcard && i.ProductId==j.Id">
        <table class="table text-center table-bordered">
          <tbody>
            <tr>
              <td width="33.33%">{{j.Pname}}</td>
              <td width="33.33%">{{i.NextDate}}</td>
              <td width="33.33%">{{i.AmountPaid}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>